<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XJRSA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C248273B1C462CB600E5B9D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C24827541C462CB600E5B9D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C248275F1C462CB600E5B9D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
